/* StartMenu.css */

.container {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #7b7554 0%, #232218 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #797562;
    background-image: url('/assets/hand_painted_black_watercolour_background_0407.jpg');
    gap: 10vh;
  }
  
  .heading {
    font-size: 3rem;
    margin-bottom: 40px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .button {
    background-color: #29298a;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05); /* Slightly enlarges the button on hover */
  }
  